.am{
    background-color: blueviolet;
    color:aliceblue
}
.jam{

    width:300px;
    
}
.licu{
    text-decoration: none;
}
.kola{
    color:rgb(235, 144, 7)
}
.piyara :hover {
    background-color: rgb(79, 55, 185);
    width:200px;
    
}
.katal{
   
    
    font-size: 20px;
  }
  .la{
    text-decoration: none;
  }